/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  background-image: url("images/Time\ backgrounds\ vector\ 5.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
header{
  margin-bottom: 50px;
}

h3{
  font-size: 3rem;
}

.main-container{
  width: 1000px;
}


.main-text{
  font-size: 5rem;
  font-weight: bold;
  color: rgb(214, 127, 255);
  text-align: center;
}

svg{
  height: 300px;
  width: 300px;
  margin-bottom: 50px;
}
p{
  color: white;
}

#select{
  width: 50%;
  margin-left: 25%;
}

.btn{
  background-color: rgb(214, 127, 255);
}
.btn:hover{
  background-color: rgb(184, 64, 240);
}